{"openapi":"3.0.0","info":{"title":"Noba Server","description":"Noba Server API (Internal) (DEVELOPMENT)","version":"1.0","contact":{}},"tags":[],"servers":[{"url":"https://api.noba.com/"},{"url":"http://localhost:8080"}],"components":{"securitySchemes":{"JWT-auth":{"scheme":"bearer","bearerFormat":"JWT","type":"http"}},"schemas":{"CurrencyDTO":{"type":"object","properties":{"_id":{"type":"string"},"type":{"type":"string","enum":["fiat","crypto"]},"name":{"type":"string"},"ticker":{"type":"string"},"iconPath":{"type":"string"}},"required":["_id","type","name","ticker","iconPath"]},"VerifyOtpRequestDTO":{"type":"object","properties":{"emailOrPhone":{"type":"string"},"otp":{"type":"number"},"identityType":{"type":"string","enum":["CONSUMER","PARTNER_ADMIN","NOBA_ADMIN"]}},"required":["emailOrPhone","otp","identityType"]},"VerifyOtpResponseDTO":{"type":"object","properties":{"access_token":{"type":"string"},"user_id":{"type":"string"}},"required":["access_token","user_id"]},"LoginRequestDTO":{"type":"object","properties":{"email":{"type":"string"},"identityType":{"type":"string","enum":["CONSUMER","PARTNER_ADMIN","NOBA_ADMIN"]}},"required":["email","identityType"]},"UserDTO":{"type":"object","properties":{"_id":{"type":"string"},"version":{"type":"number"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"name":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"isEmailVerified":{"type":"boolean"},"verificationStatus":{"type":"string","enum":["NotStarted","Pending","Rejected","Flagged","Verified"]},"documentVerified":{"type":"boolean"},"dateOfBirth":{"type":"object"},"address":{"type":"object"}},"required":["_id","version","createdAt","updatedAt","email"]},"PaymentMethodDTO":{"type":"object","properties":{"paymentMethodId":{"type":"string"},"paymentMethodType":{"type":"string","enum":["Card"]},"cardNumber":{"type":"string"},"billingAdress":{"type":"string"},"cardHolderName":{"type":"string"}},"required":["paymentMethodId","paymentMethodType"]},"AddPaymentMethodDTO":{"type":"object","properties":{"paymentMethodType":{"type":"string","enum":["Card"]},"cardNumber":{"type":"string"},"cardExpiryMonth":{"type":"number"},"cardExpiryYear":{"type":"number"},"cardCVC":{"type":"string"},"billingAdress":{"type":"string"},"cardHolderName":{"type":"string"}},"required":["paymentMethodType"]},"TransactionStatsDTO":{"type":"object","properties":{"numTransactions":{"type":"number"},"totalAmount":{"type":"number"}},"required":["numTransactions","totalAmount"]},"TransactionDTO":{"type":"object","properties":{"_id":{"type":"string"},"status":{"type":"string","enum":["INITIATED","FIAT_INCOMING_PENDING","FIAT_INCOMING_CONFIRMED","FIAT_INCOMING_FAILED","FIAT_INCOMING_REVERSED","FIAT_OUTGOING_PENDING","FIAT_OUTGOING_CONFIRMED","FIAT_OUTGOING_FAILED","WALLET_INCOMING_PENDING","WAALLET_INCOMING_COMPLETED","WALLET_INCOMING_FAILED","WALLET_OUTGOING_PENDING","WALLET_OUTGOING_COMPLETED","WALLET_OUTGOING_FAILED","COMPLETED"]},"statusMessage":{"type":"string"},"leg1":{"type":"string"},"leg2":{"type":"string"},"leg1Amount":{"type":"number"},"leg2Amount":{"type":"number"},"transactionTimestamp":{"format":"date-time","type":"string"},"paymentMethodId":{"type":"string"},"fiatTransactionId":{"type":"string"},"cryptoTransactionId":{"type":"string"},"sourceWalletAdress":{"type":"string"},"destinationWalletAdress":{"type":"string"}},"required":["_id","status","leg1","leg2","leg1Amount","leg2Amount","transactionTimestamp"]},"NobaAdminDTO":{"type":"object","properties":{"_id":{"type":"string"},"email":{"type":"string"},"name":{"type":"string"},"role":{"type":"string"}},"required":["_id","email","name","role"]},"UpdateNobaAdminDTO":{"type":"object","properties":{"name":{"type":"string"},"role":{"type":"string"}},"required":["name","role"]},"DeleteNobaAdminDTO":{"type":"object","properties":{"_id":{"type":"string"}},"required":["_id"]},"AddPartnerAdminRequestDTO":{"type":"object","properties":{"email":{"type":"string"},"name":{"type":"string"},"role":{"type":"string"}},"required":["email","name","role"]},"PartnerAdminDTO":{"type":"object","properties":{"_id":{"type":"string"},"name":{"type":"string"},"email":{"type":"string"},"partnerID":{"type":"string"},"role":{"type":"string"}},"required":["_id","email","partnerID","role"]},"AddPartnerRequestDTO":{"type":"object","properties":{"name":{"type":"string"}},"required":["name"]},"KybStatusInfoDTO":{"type":"object","properties":{"kybStatus":{"type":"string","enum":["VERIFIED","NOT_VERIFIED"]},"kybProvider":{"type":"string"}},"required":["kybStatus","kybProvider"]},"PartnerDTO":{"type":"object","properties":{"_id":{"type":"string"},"name":{"type":"string"},"verificationData":{"$ref":"#/components/schemas/KybStatusInfoDTO"},"takeRate":{"type":"number"}},"required":["_id","name"]},"UpdatePartnerRequestDTO":{"type":"object","properties":{"name":{"type":"string"},"role":{"type":"string"},"takeRate":{"type":"number"}}},"ConsentDTO":{"type":"object","properties":{"name":{"type":"string"},"message":{"type":"string"}},"required":["name","message"]},"SubdivisionDTO":{"type":"object","properties":{"name":{"type":"string"},"code":{"type":"string"}},"required":["name","code"]},"DOBDTO":{"type":"object","properties":{"date":{"type":"number"},"month":{"type":"number"},"year":{"type":"number"}},"required":["date","month","year"]},"NationalIDDTO":{"type":"object","properties":{"type":{"type":"string","enum":["NationalID","HealthID","SocialService","Passport","DriverLicence"]},"number":{"type":"string"},"mrz1":{"type":"string"},"mrz2":{"type":"string"},"dayOfExpiry":{"type":"number"},"monthOfExpiry":{"type":"number"},"yearOfExpiry":{"type":"number"},"state":{"type":"string"}},"required":["type","number"]},"IDVerificationRequestDTO":{"type":"object","properties":{"firstName":{"type":"string"},"lastName":{"type":"string"},"dateOfBirth":{"$ref":"#/components/schemas/DOBDTO"},"streetName":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"countryCode":{"type":"string"},"postalCode":{"type":"string"},"nationalID":{"$ref":"#/components/schemas/NationalIDDTO"}},"required":["firstName","lastName","dateOfBirth","streetName","city","state","countryCode","postalCode","nationalID"]},"VerificationResultDTO":{"type":"object","properties":{"status":{"type":"string","enum":["OK","FAILED","PENDING"]}},"required":["status"]},"DocVerificationRequestDTO":{"type":"object","properties":{"documentType":{"type":"string","enum":["DrivingLicence","IdentityCard","Passport","ResidentPermit"]},"countryCode":{"type":"string"},"documentFrontImage":{"type":"string"},"documentBackImage":{"type":"string"}},"required":["documentType","countryCode","documentFrontImage"]},"VerificationStatusDTO":{"type":"object","properties":{"TransactionId":{"type":"string"},"TransactionRecordId":{"type":"string"},"Status":{"type":"string","enum":["InProgress","Completed","Failed","Canceled","TimeoutCanceled"]},"UploadedDt":{"type":"string"},"IsTimedOut":{"type":"boolean"}},"required":["TransactionId","TransactionRecordId","Status","UploadedDt","IsTimedOut"]},"CheckTransactionDTO":{"type":"object","properties":{"status":{"type":"string","enum":["ALLOWED","TRANSACTION_LIMIT_REACHED","DAILY_LIMIT_REACHED","WEEKLY_LIMIT_REACHED","MONTHLY_LIMIT_REACHED","MAX_LIMIT_REACHED"]}},"required":["status"]},"CreateTransactionDTO":{"type":"object","properties":{"paymentMethodId":{"type":"string"},"leg1":{"type":"string"},"leg2":{"type":"string"},"leg1Amount":{"type":"number"},"leg2Amount":{"type":"number"},"destinationWalletAdress":{"type":"string"}},"required":["paymentMethodId","leg1","leg2","leg1Amount","leg2Amount"]}}},"paths":{"/v1/health":{"get":{"operationId":"appHealth","summary":"Checks if the service is up and running","parameters":[],"responses":{"200":{"description":"Status OK"}},"tags":["Health Check"]}},"/v1/cryptocurrencies":{"get":{"operationId":"supportedCryptocurrencies","summary":"Returns a list of all cryptocurrencies supported by Noba Onramp","parameters":[],"responses":{"200":{"description":"List of all supported cryptocurrencies","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CurrencyDTO"}}}}}},"tags":["Assets"]}},"/v1/fiatcurrencies":{"get":{"operationId":"supportedFiatCurrencies","summary":"Returns a list of all fiat currencies supported by Noba Onramp","parameters":[],"responses":{"200":{"description":"List of all supported fiat currencies","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CurrencyDTO"}}}}}},"tags":["Assets"]}},"/v1/auth/verifyotp":{"post":{"operationId":"verifyOtp","summary":"Send the OTP filled in by the user to Noba Server and get the access token","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyOtpRequestDTO"}}}},"responses":{"200":{"description":"Noba access token of the user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyOtpResponseDTO"}}}}},"tags":["Authentication"]}},"/v1/auth/login":{"post":{"operationId":"loginUser","summary":"Sends otp to the email/phone provided","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequestDTO"}}}},"responses":{"200":{"description":"Email successfully sent"}},"tags":["Authentication"]}},"/v1/auth/currentUser":{"get":{"operationId":"testAuth","summary":"Get the Noba user for the authorized/logged-in user","parameters":[],"responses":{"200":{"description":"Noba user object of logged in user"}},"tags":["Authentication"],"security":[{"JWT-auth":[]}]}},"/v1/user/{userID}":{"get":{"operationId":"getUser","summary":"Get noba user ID of currently logged in user","parameters":[{"name":"userID","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"Returns the user ID of the currently logged in user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDTO"}}}},"400":{"description":"Invalid request parameters"}},"tags":["User"],"security":[{"JWT-auth":[]}]},"put":{"operationId":"updateUser","summary":"Update user details for currently logged in user","parameters":[{"name":"userID","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"Update user details on the Noba server for currrenly logged in user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDTO"}}}},"400":{"description":"Invalid request parameters"}},"tags":["User"],"security":[{"JWT-auth":[]}]}},"/v1/paymentmethods/{userID}":{"get":{"operationId":"getUserPaymentMethods","summary":"Get all payment methods for a user","parameters":[{"name":"userID","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"List of all payment methods for the given user ID","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PaymentMethodDTO"}}}}},"400":{"description":"Invalid payment method ID / request parameters"}},"tags":["Payment Methods"],"security":[{"JWT-auth":[]}]},"post":{"operationId":"addPaymentMethod","summary":"Attach a payment method to a user","parameters":[{"name":"userID","required":true,"in":"path","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddPaymentMethodDTO"}}}},"responses":{"200":{"description":"Add a payment method for the desired user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentMethodDTO"}}}},"400":{"description":"Invalid payment method ID / request parameters"}},"tags":["Payment Methods"],"security":[{"JWT-auth":[]}]}},"/v1/paymentmethods/{paymentMethodId}":{"delete":{"operationId":"removePaymentMethod","summary":"Remove a payment method from a user","parameters":[{"name":"paymentMethodId","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"Remove a previously added payment method","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"description":"Invalid request parameters"}},"tags":["Payment Methods"],"security":[{"bearer":[]}]}},"/v1/admins/{adminID}/transaction_metrics":{"get":{"operationId":"getTransactionMetrics","summary":"Get all transaction metrics for a given partner.","parameters":[{"name":"adminID","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"Get transaction statistics","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionStatsDTO"}}}}},"tags":["Admin"],"security":[{"JWT-auth":[]}]}},"/v1/admins/{adminID}/transactions":{"get":{"operationId":"getAllTransactions","summary":"Get all transactions filtered by the specified date range","parameters":[{"name":"adminID","required":true,"in":"path","schema":{"type":"string"}},{"name":"startDate","required":true,"in":"query","description":"Format: YYYY-MM-DD, example: 2010-04-27","schema":{"type":"string"}},{"name":"endDate","required":true,"in":"query","description":"Format: YYYY-MM-DD, example: 2010-04-27","schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TransactionDTO"}}}}}},"tags":["Admin"],"security":[{"JWT-auth":[]}]}},"/v1/admins":{"post":{"operationId":"createNobaAdmin","summary":"Creates a new NobaAdmin with a specified role.","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NobaAdminDTO"}}}},"responses":{"200":{"description":"The newly created Noba Admin.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NobaAdminDTO"}}}}},"tags":["Admin"],"security":[{"JWT-auth":[]}]}},"/v1/admins/{adminID}":{"patch":{"operationId":"updateNobaAdmin","summary":"Updates the role/name of a NobaAdmin.","parameters":[{"name":"adminID","required":true,"in":"path","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateNobaAdminDTO"}}}},"responses":{"200":{"description":"The updated NobaAdmin.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NobaAdminDTO"}}}}},"tags":["Admin"],"security":[{"JWT-auth":[]}]},"delete":{"operationId":"deleteNobaAdmin","summary":"Deletes the NobaAdmin with a given ID","parameters":[{"name":"adminID","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"The ID of the deleted NobaAdmin.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteNobaAdminDTO"}}}}},"tags":["Admin"],"security":[{"JWT-auth":[]}]}},"/v1/admins/partners/{partnerID}/admins":{"post":{"operationId":"addAdminsForPartners","summary":"Add a new partner admin","parameters":[{"name":"partnerID","required":true,"in":"path","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddPartnerAdminRequestDTO"}}}},"responses":{"201":{"description":"Add a new partner admin","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartnerAdminDTO"}}}},"400":{"description":"Bad request"}},"tags":["Admin"],"security":[{"JWT-auth":[]}]}},"/v1/admins/partners/{partnerID}/admins/{partnerAdminID}":{"delete":{"operationId":"deleteAdminsForPartners","summary":"Add a new partner admin","parameters":[{"name":"partnerID","required":true,"in":"path","schema":{"type":"string"}},{"name":"partnerAdminID","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"201":{"description":"Add a new partner admin","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartnerAdminDTO"}}}},"400":{"description":"Bad request"}},"tags":["Admin"],"security":[{"JWT-auth":[]}]}},"/v1/admins/partners":{"post":{"operationId":"registerPartner","summary":"Add a new partner","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddPartnerRequestDTO"}}}},"responses":{"201":{"description":"Add a new partner","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartnerDTO"}}}},"400":{"description":"Bad request"}},"tags":["Admin"],"security":[{"JWT-auth":[]}]}},"/v1/partners/{partnerID}":{"get":{"operationId":"getPartner","summary":"Get partner details of requesting user","parameters":[{"name":"partnerID","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"Returns the partner details of currently logged in partner admin","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartnerDTO"}}}},"400":{"description":"User does not have permission"}},"tags":["Partner"],"security":[{"JWT-auth":[]}]}},"/v1/partners":{"patch":{"operationId":"updatePartner","summary":"Update details of the partner like takeRate","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePartnerRequestDTO"}}}},"responses":{"200":{"description":"Returns updated partner details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartnerDTO"}}}},"400":{"description":"Invalid request"}},"tags":["Partner"],"security":[{"JWT-auth":[]}]}},"/v1/partners/admins/{partnerAdminID}":{"get":{"operationId":"getPartnerAdmin","summary":"Get details for partner admin","parameters":[{"name":"partnerAdminID","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"Returns details for the requesting partner admin","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartnerAdminDTO"}}}},"400":{"description":"Not authorized"}},"tags":["Partner"],"security":[{"JWT-auth":[]}]},"patch":{"operationId":"updatePartnerAdmin","summary":"Update details of a partner admin","parameters":[{"name":"partnerAdminID","required":true,"in":"path","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePartnerRequestDTO"}}}},"responses":{"200":{"description":"Update details of a partner admin","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartnerAdminDTO"}}}},"400":{"description":"Bad request"}},"tags":["Partner"],"security":[{"JWT-auth":[]}]},"delete":{"operationId":"deletePartnerAdmin","summary":"Deletes a parter admin","parameters":[{"name":"partnerAdminID","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"Deletes a partner admin","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartnerAdminDTO"}}}},"400":{"description":"Partner admin not found"}},"tags":["Partner"],"security":[{"JWT-auth":[]}]}},"/v1/partners/admins":{"get":{"operationId":"getAllPartnerAdmins","summary":"Get all admins for the partner","parameters":[],"responses":{"200":{"description":"Returns details for all admins of the partner","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PartnerAdminDTO"}}}}},"400":{"description":"Not authorized"}},"tags":["Partner"],"security":[{"JWT-auth":[]}]},"post":{"operationId":"addPartnerAdmin","summary":"Add a new partner admin","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddPartnerAdminRequestDTO"}}}},"responses":{"201":{"description":"Add a new partner admin","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartnerAdminDTO"}}}},"400":{"description":"Bad request"}},"tags":["Partner"],"security":[{"JWT-auth":[]}]}},"/v1/verify":{"get":{"operationId":"getVerificationStatus","summary":"Check if verification service is up","parameters":[],"responses":{"200":{"description":"Health check for verification service"}},"tags":["Verification"],"security":[{"JWT-auth":[]}]}},"/v1/verify/countryCodes":{"get":{"operationId":"getCountryCodes","summary":"Get list of country codes that Noba supports","parameters":[],"responses":{"200":{"description":"Get country codes for supported countries"},"400":{"description":"Invalid request parameters!"}},"tags":["Verification"],"security":[{"JWT-auth":[]}]}},"/v1/verify/consents/{countryCode}":{"get":{"operationId":"getConsents","summary":"Get all consents for a given country code","parameters":[{"name":"countryCode","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"Get all consents","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ConsentDTO"}}}}},"400":{"description":"Invalid request parameters!"}},"tags":["Verification"],"security":[{"JWT-auth":[]}]}},"/v1/verify/subdivisions/{countryCode}":{"get":{"operationId":"getSubdivisions","summary":"Get subdivision for the given country code","parameters":[{"name":"countryCode","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"Get subdivision for the given country code","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SubdivisionDTO"}}}}},"400":{"description":"Invalid request parameters!"}},"tags":["Verification"],"security":[{"JWT-auth":[]}]}},"/v1/verify/{userID}/id":{"post":{"operationId":"verifyUser","summary":"Get verification result","parameters":[{"name":"userID","required":true,"in":"path","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IDVerificationRequestDTO"}}}},"responses":{"200":{"description":"Get verification result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerificationResultDTO"}}}},"400":{"description":"Invalid request parameters!"}},"tags":["Verification"],"security":[{"JWT-auth":[]}]}},"/v1/verify/{userID}/doc":{"post":{"operationId":"verifyDocument","summary":"Get verification result","parameters":[{"name":"userID","required":true,"in":"path","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocVerificationRequestDTO"}}}},"responses":{"202":{"description":"Get verification result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerificationResultDTO"}}}},"400":{"description":"Invalid request parameters!"}},"tags":["Verification"],"security":[{"JWT-auth":[]}]}},"/v1/verify/{userID}/doc/status":{"get":{"operationId":"getDocumentVerificationStatus","summary":"Get KYC status of the given user","parameters":[{"name":"userID","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"Get KYC status of the given user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerificationStatusDTO"}}}},"400":{"description":"Invalid request parameters!"}},"tags":["Verification"],"security":[{"JWT-auth":[]}]}},"/v1/verify/{userID}/doc/result":{"get":{"operationId":"getDocumentVerificationResult","summary":"Get KYC result of the given user","parameters":[{"name":"userID","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"TODO Ask soham from usability perspective how is this any different than /status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerificationResultDTO"}}}},"400":{"description":"Invalid request parameters!"}},"tags":["Verification"],"security":[{"JWT-auth":[]}]}},"/v1/user/{userID}/transactions/status/{transactionId}":{"get":{"operationId":"getTransactionStatus","summary":"Get transaction details for a given transactionID","parameters":[{"name":"userID","required":true,"in":"path","schema":{"type":"string"}},{"name":"transactionId","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"Transaction details for the given transactionId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionDTO"}}}}},"tags":["Transactions"],"security":[{"JWT-auth":[]}]}},"/v1/user/{userID}/transactions/check/{transactionAmount}":{"get":{"operationId":"checkIfTransactionPossible","parameters":[{"name":"userID","required":true,"in":"path","schema":{"type":"string"}},{"name":"transactionAmount","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckTransactionDTO"}}}}},"tags":["Transactions"],"security":[{"JWT-auth":[]}]}},"/v1/user/{userID}/transactions/trasact":{"post":{"operationId":"transact","summary":"Place a transaction with Noba","parameters":[{"name":"userID","required":true,"in":"path","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTransactionDTO"}}}},"responses":{"200":{"description":"Returns transaction id if transaction is placed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionDTO"}}}},"400":{"description":"Bad request. Invalid input."},"502":{"description":"Bad gateway. Something went wrong."}},"tags":["Transactions"],"security":[{"JWT-auth":[]}]}},"/v1/user/{userID}/transactions":{"get":{"operationId":"getTransactions","summary":"Get all transactions for a particular user","parameters":[{"name":"userID","required":true,"in":"path","schema":{"type":"string"}},{"name":"startDate","required":true,"in":"query","description":"Format: YYYY-MM-DD, example: 2010-04-27","schema":{"type":"string"}},{"name":"endDate","required":true,"in":"query","description":"Format: YYYY-MM-DD, example: 2010-04-27","schema":{"type":"string"}}],"responses":{"200":{"description":"List of all transactions that happened through Noba for given userID","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TransactionDTO"}}}}}},"tags":["Transactions"],"security":[{"JWT-auth":[]}]}},"/v1/user/{userID}/transactions/download":{"get":{"operationId":"downloadTransactions","summary":"Download all the transactions of a particular user.","parameters":[{"name":"userID","required":true,"in":"path","schema":{"type":"string"}},{"name":"startDate","required":true,"in":"query","description":"Format: YYYY-MM-DD, example: 2010-04-27","schema":{"type":"string"}},{"name":"endDate","required":true,"in":"query","description":"Format: YYYY-MM-DD, example: 2010-04-27","schema":{"type":"string"}},{"name":"reportFormat","required":true,"in":"query","description":"Format in which you want the transactions report. Current 'CSV' is supported.","schema":{"type":"number"}}],"responses":{"200":{"description":"A CSV or PDF file containing details of all the transactions made by the user.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TransactionDTO"}}}}}},"tags":["Transactions"],"security":[{"JWT-auth":[]}]}},"/v1/exchangerates/priceinfiat/{fiatCurrencyCode}":{"get":{"operationId":"priceInFiat","summary":"Get price of a crypto (leg1) in fiat (leg 2)","parameters":[{"name":"fiatCurrencyCode","required":true,"in":"path","schema":{"type":"string"}},{"name":"cryptoCurrencyCode","required":true,"in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Fiat price (leg 2) for the desired crypto currency (leg1)"}},"tags":["Assets"],"security":[{"JWT-auth":[]}]}},"/v1/exchangerates/processingfee/{fiatCurrencyCode}":{"get":{"operationId":"processingFee","summary":"Get the processing fee for a crypto fiat conversion","parameters":[{"name":"fiatCurrencyCode","required":true,"in":"path","schema":{"type":"string"}},{"name":"fiatAmount","required":true,"in":"query","schema":{"type":"number"}},{"name":"cryptoCurrencyCode","required":true,"in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Processing fee for given crypto fiat conversion"}},"tags":["Assets"],"security":[{"JWT-auth":[]}]}}}}