{"openapi":"3.0.0","info":{"title":"Noba Server","description":"Noba Server API (DEVELOPMENT)","version":"1.0","contact":{}},"tags":[],"servers":[{"url":"https://api.noba.com/"}],"components":{"securitySchemes":{"JWT-auth":{"scheme":"bearer","bearerFormat":"JWT","type":"http"}},"schemas":{"CurrencyDTO":{"type":"object","properties":{"_id":{"type":"string"},"type":{"type":"string","enum":["fiat","crypto"]},"name":{"type":"string"},"ticker":{"type":"string"},"iconPath":{"type":"string"}},"required":["_id","type","name","ticker","iconPath"]},"VerifyOtpRequestDTO":{"type":"object","properties":{"emailOrPhone":{"type":"string"},"otp":{"type":"number"},"identityType":{"type":"string","enum":["CONSUMER","PARTNER_ADMIN","NOBA_ADMIN"]}},"required":["emailOrPhone","otp","identityType"]},"VerifyOtpResponseDTO":{"type":"object","properties":{"access_token":{"type":"string"},"user_id":{"type":"string"}},"required":["access_token","user_id"]},"LoginRequestDTO":{"type":"object","properties":{"email":{"type":"string"},"identityType":{"type":"string","enum":["CONSUMER","PARTNER_ADMIN","NOBA_ADMIN"]}},"required":["email","identityType"]},"UserDTO":{"type":"object","properties":{"_id":{"type":"string"},"version":{"type":"number"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"name":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"isEmailVerified":{"type":"boolean"},"idVerificationStatus":{"type":"string","enum":["Pending-New","Pending-KYCSubmitted","Pending-KYCApproved","Pending-Flagged-KYC","Pending-Flagged-Fraud","Pending-Flagged-Wallet","Approved","NotApproved-Rejected-KYC","NotApproved-Rejected-Fraud","NotApproved-Rejected-Wallet"]},"documentVerificationStatus":{"type":"string","enum":["NotSubmitted","NotRequired","Pending","Verified","Rejected","LivePhotoVerified"]},"dateOfBirth":{"type":"string"},"address":{"type":"object"},"socialSecurityNumber":{"type":"string"}},"required":["_id","version","createdAt","updatedAt","email"]},"PaymentMethodDTO":{"type":"object","properties":{"paymentMethodID":{"type":"string"},"paymentMethodType":{"type":"string","enum":["Card"]},"cardNumber":{"type":"string"},"billingAddress":{"type":"string"},"cardHolderName":{"type":"string"}},"required":["paymentMethodID","paymentMethodType"]},"AddPaymentMethodDTO":{"type":"object","properties":{"paymentMethodType":{"type":"string","enum":["Card"]},"cardNumber":{"type":"string"},"cardExpiryMonth":{"type":"number"},"cardExpiryYear":{"type":"number"},"cardCVV":{"type":"string"},"billingAddress":{"type":"string"},"cardHolderName":{"type":"string"}},"required":["paymentMethodType"]},"CheckTransactionDTO":{"type":"object","properties":{"status":{"type":"string","enum":["ALLOWED","TRANSACTION_LIMIT_REACHED","DAILY_LIMIT_REACHED","WEEKLY_LIMIT_REACHED","MONTHLY_LIMIT_REACHED","MAX_LIMIT_REACHED"]}},"required":["status"]},"TransactionDTO":{"type":"object","properties":{"_id":{"type":"string"},"userID":{"type":"string"},"status":{"type":"string","enum":["INITIATED","FIAT_INCOMING_PENDING","FIAT_INCOMING_CONFIRMED","FIAT_INCOMING_FAILED","FIAT_INCOMING_REVERSED","FIAT_OUTGOING_PENDING","FIAT_OUTGOING_CONFIRMED","FIAT_OUTGOING_FAILED","WALLET_INCOMING_PENDING","WAALLET_INCOMING_COMPLETED","WALLET_INCOMING_FAILED","WALLET_OUTGOING_PENDING","WALLET_OUTGOING_COMPLETED","WALLET_OUTGOING_FAILED","COMPLETED"]},"type":{"type":"string","enum":["onramp","offramp","swap"]},"statusMessage":{"type":"string"},"leg1":{"type":"string"},"leg2":{"type":"string"},"baseAmount":{"type":"number","description":"Amount to be exchaged. in case of offramp it is amount of fiat currency, offramp amount of crypto, in case of swap the source currency etc."},"leg1Amount":{"type":"number"},"leg2Amount":{"type":"number"},"transactionTimestamp":{"format":"date-time","type":"string"},"paymentMethodID":{"type":"string"},"fiatTransactionID":{"type":"string"},"cryptoTransactionID":{"type":"string"},"destinationWalletAddress":{"type":"string","description":"Destination wallet address to transfer crypto to in case of off ramp transaction"}},"required":["_id","userID","status","type","leg1","leg2","baseAmount","leg1Amount","leg2Amount","transactionTimestamp"]},"CreateTransactionDTO":{"type":"object","properties":{"paymentMethodID":{"type":"string"},"type":{"type":"string","enum":["onramp","offramp","swap"]},"leg1":{"type":"string"},"leg2":{"type":"string"},"leg1Amount":{"type":"number"},"leg2Amount":{"type":"number"},"destinationWalletAddress":{"type":"string"}},"required":["paymentMethodID","type","leg1","leg2","leg1Amount","leg2Amount"]}}},"paths":{"/v1/health":{"get":{"operationId":"appHealth","summary":"Checks if the service is up and running","parameters":[],"responses":{"200":{"description":"Status OK"}},"tags":["Health Check"]}},"/v1/cryptocurrencies":{"get":{"operationId":"supportedCryptocurrencies","summary":"Returns a list of all cryptocurrencies supported by Noba Onramp","parameters":[],"responses":{"200":{"description":"List of all supported cryptocurrencies","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CurrencyDTO"}}}}}},"tags":["Assets"]}},"/v1/fiatcurrencies":{"get":{"operationId":"supportedFiatCurrencies","summary":"Returns a list of all fiat currencies supported by Noba Onramp","parameters":[],"responses":{"200":{"description":"List of all supported fiat currencies","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CurrencyDTO"}}}}}},"tags":["Assets"]}},"/v1/auth/verifyotp":{"post":{"operationId":"verifyOtp","summary":"Send the OTP filled in by the user to Noba Server and get the access token","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyOtpRequestDTO"}}}},"responses":{"200":{"description":"Noba access token of the user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyOtpResponseDTO"}}}}},"tags":["Authentication"]}},"/v1/auth/login":{"post":{"operationId":"loginUser","summary":"Sends otp to the email/phone provided","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequestDTO"}}}},"responses":{"200":{"description":"Email successfully sent"}},"tags":["Authentication"]}},"/v1/users":{"get":{"operationId":"getUser","summary":"Get noba user ID of currently logged in user","parameters":[],"responses":{"200":{"description":"Returns the user ID of the currently logged in user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDTO"}}}},"400":{"description":"Invalid request parameters"}},"tags":["User"],"security":[{"JWT-auth":[]}]},"patch":{"operationId":"updateUser","summary":"Update user details for currently logged in user","parameters":[],"responses":{"200":{"description":"Update user details on the Noba server for currrenly logged in user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDTO"}}}},"400":{"description":"Invalid request parameters"}},"tags":["User"],"security":[{"JWT-auth":[]}]}},"/v1/users/paymentmethods/":{"get":{"operationId":"getUserPaymentMethods","summary":"Get all payment methods for a user","parameters":[],"responses":{"200":{"description":"List of all payment methods for the given user ID","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PaymentMethodDTO"}}}}},"400":{"description":"Invalid payment method ID / request parameters"}},"tags":["User"],"security":[{"JWT-auth":[]}]},"post":{"operationId":"addPaymentMethod","summary":"Attach a payment method to a user","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddPaymentMethodDTO"}}}},"responses":{"200":{"description":"Add a payment method for the desired user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentMethodDTO"}}}},"400":{"description":"Invalid payment method ID / request parameters"}},"tags":["User"],"security":[{"JWT-auth":[]}]}},"/v1/users/paymentmethods/{paymentMethodID}":{"delete":{"operationId":"removePaymentMethod","summary":"Remove a payment method from a user","parameters":[{"name":"paymentMethodID","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"Remove a previously added payment method","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"description":"Invalid request parameters"}},"tags":["User"],"security":[{"bearer":[]}]}},"/v1/transactions/check":{"get":{"operationId":"checkIfTransactionPossible","summary":"Checks if a transaction with given input is possible for a user or not i.e. if they have reached some limit or if id verification is required.","parameters":[{"name":"type","required":true,"in":"query","schema":{"enum":["onramp","offramp","swap"],"type":"string"}},{"name":"transactionAmount","required":true,"in":"query","schema":{"type":"number"}},{"name":"baseCurrency","required":true,"in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckTransactionDTO"}}}}},"tags":["Transactions"],"security":[{"JWT-auth":[]}]}},"/v1/transactions/{transactionID}":{"get":{"operationId":"getTransactionStatus","summary":"Get transaction details for a given transactionID","parameters":[{"name":"transactionID","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":"Transaction details for the given transactionId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionDTO"}}}}},"tags":["Transactions"],"security":[{"JWT-auth":[]}]}},"/v1/transactions":{"post":{"operationId":"transact","summary":"Place a transaction with Noba","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTransactionDTO"}}}},"responses":{"200":{"description":"Returns transaction id if transaction is placed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionDTO"}}}},"400":{"description":"Bad request. Invalid input."},"502":{"description":"Bad gateway. Something went wrong."}},"tags":["Transactions"],"security":[{"JWT-auth":[]}]},"get":{"operationId":"getTransactions","summary":"Get all transactions for a particular user","parameters":[{"name":"startDate","required":true,"in":"query","description":"Format: YYYY-MM-DD, example: 2010-04-27","schema":{"type":"string"}},{"name":"endDate","required":true,"in":"query","description":"Format: YYYY-MM-DD, example: 2010-04-27","schema":{"type":"string"}}],"responses":{"200":{"description":"List of all transactions that happened through Noba for given userID","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TransactionDTO"}}}}}},"tags":["Transactions"],"security":[{"JWT-auth":[]}]}},"/v1/transactions/download":{"get":{"operationId":"downloadTransactions","summary":"Download all the transactions of a particular user.","parameters":[{"name":"startDate","required":true,"in":"query","description":"Format: YYYY-MM-DD, example: 2010-04-27","schema":{"type":"string"}},{"name":"endDate","required":true,"in":"query","description":"Format: YYYY-MM-DD, example: 2010-04-27","schema":{"type":"string"}},{"name":"reportFormat","required":true,"in":"query","description":"Format in which you want the transactions report. Current 'CSV' is supported.","schema":{"enum":["csv","pdf"],"type":"string"}}],"responses":{"200":{"description":"A CSV or PDF file containing details of all the transactions made by the user.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TransactionDTO"}}}}}},"tags":["Transactions"],"security":[{"JWT-auth":[]}]}},"/v1/exchangerates/priceinfiat/{fiatCurrencyCode}":{"get":{"operationId":"priceInFiat","summary":"Get price of a crypto (leg1) in fiat (leg 2)","parameters":[{"name":"fiatCurrencyCode","required":true,"in":"path","schema":{"type":"string"}},{"name":"cryptoCurrencyCode","required":true,"in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Fiat price (leg 2) for the desired crypto currency (leg1)"}},"tags":["Assets"],"security":[{"JWT-auth":[]}]}},"/v1/exchangerates/processingfee/{fiatCurrencyCode}":{"get":{"operationId":"processingFee","summary":"Get the processing fee for a crypto fiat conversion","parameters":[{"name":"fiatCurrencyCode","required":true,"in":"path","schema":{"type":"string"}},{"name":"fiatAmount","required":true,"in":"query","schema":{"type":"number"}},{"name":"cryptoCurrencyCode","required":true,"in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Processing fee for given crypto fiat conversion"}},"tags":["Assets"],"security":[{"JWT-auth":[]}]}}}}